html {
  box-sizing: border-box;
  border: 0;
}

body {
  box-sizing: inherit;
  width: fit-content;
  height: auto;
  margin: 0 auto;
  border: 0;
  vertical-align: top;
  background: blue;
  justify-content: center;
}

.product-container {
  background: rgb(248, 248, 248);
  width: 100vw;
  left: 0;
  display: flex;
  justify-content: center;
}

.product-wrapper {
  max-width: 82.5rem;
  background: rgb(248, 248, 248);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  width: auto;
  justify-content: space-between;
  padding: 32px 0;
}

#gallery {
  display: inline-flex;
  width: auto;
}

#details {
  display: inline-flex;
  width: fit-content;
}

.reviews-container {
  width: 100vw;
  left: 0;
  border-top: 1px solid rgb(224, 224, 224);
  background: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
}

#reviews {
  max-width: 82.5rem;
  width: 100%;
  justify-content: space-between;
}

.recommendations-container {
  width: 100vw;
  left: 0;
  border-top: 1px solid rgb(224, 224, 224);
  background: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
}

#recommendations {
  max-width: 82.5rem;
  background: rgb(248, 248, 248);
  padding-bottom: 50px;
  justify-content: space-around;
}
