html {
  box-sizing: border-box;
  border: 0;
  min-height: 100%;
  height: 100%;
}

body {
  box-sizing: inherit;
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 0;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  background: blue;
  color: #2c2c2c;
  justify-content: center;
}

.product-wrapper1 {
  display: block;
}

.product-wrapper2 {
  display: block;
  max-width: 82.5rem;
  background: rgb(248, 248, 248);
  padding: 1.5625rem 0.75rem;
  margin: 0px auto;
}

.product-container {
  background: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media screen and (min-width: 901px) {
  .product-container {
    flex-direction: row;
    align-items: flex-start;
  }
}

#gallery {
  display: block;
  width: 100%;
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
  #gallery {
    width: auto;
    max-width: 70%;
    flex: 1 1 70%;
    position: relative;
    padding-right: 1.125rem;
  }
}

#details {
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-direction: column;
}

@media screen and (min-width: 901px) {
  #details {
      flex: 0 0 30%;
  }
}

.reviews-container {
  width: 100vw;
  left: 0;
  border-top: 1px solid rgb(224, 224, 224);
  background: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
}

#reviews {
  max-width: 82.5rem;
  width: 100%;
  justify-content: space-between;
}

.recommendations-container {
  width: 100vw;
  left: 0;
  border-top: 1px solid rgb(224, 224, 224);
  background: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
}

#recommendations {
  max-width: 82.5rem;
  background: rgb(248, 248, 248);
  padding-bottom: 50px;
  justify-content: space-around;
}
